# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Lambda Payload
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Secret files
.aws_creds